language: java
jdk:
  - openjdk8
branches:
  only:
  - gh-pages
  - /.*/
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
script:
  - ./gradlew build --info --parallel
# testing should be performed in the build above so don't need the following line
#  - ./gradlew clean test --info --parallel
deploy:
  provider: script
  script: ./gradew buildJar
  on:
    branches:
      only:
        - master
        - dev
